:host {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 4px solid var(--mat-sys-secondary);
    border-radius: 2rem;
    gap: 0.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

mat-divider {
    margin: 0.75rem 0;
}

.description {
    margin-top: 0.5rem;
}

.error {
    color: var(--mat-sys-error);
}

app-input {
    margin-top: 0.5rem;
}
