<div class="header">
    <h2>Register</h2>
    <button matButton>Already have an account?</button>
</div>
<mat-stepper orientation="vertical" [linear]="true" #Stepper [formGroup]="form">
    <mat-step label="Let other players find you 🏓" [stepControl]="form.get('fullName')!">
        <app-input label="Full name" placeholder="Enter your name" formControlName="fullName" />
        <p class="description">
            Your name is needed so that other players can contact you to organise matches.
            <b>This will only be visible to those who have made an account.</b>
        </p>
        <mat-divider />
        <button matButton matStepperNext [disabled]="!form.get('fullName')?.valid">Next</button>
    </mat-step>

    <mat-step label="Account details 🔒" [stepControl]="form.get('accountDetails')!">
        <div formGroupName="accountDetails">
            <app-input label="Username" placeholder="Username" formControlName="username" />
            @if (
                form.get('accountDetails.username')?.hasError('minlength') &&
                form.get('accountDetails.username')?.touched
            ) {
                <p class="error">Username must be at least 6 characters</p>
            }
            <app-input
                label="Password"
                placeholder="Password"
                formControlName="password"
                type="password" />

            @if (
                form.get('accountDetails.password')?.hasError('minlength') &&
                form.get('accountDetails.password')?.touched
            ) {
                <p class="error">Password must be at least 6 characters</p>
            }

            <app-input
                label="Confirm password"
                placeholder="Confirm password"
                formControlName="confirmPassword"
                type="password" />

            @if (
                form.hasError('mustMatch') && form.get('accountDetails.confirmPassword')?.touched
            ) {
                <p class="error">Passwords do not match</p>
            }
            <p class="description">
                These are the details you will use to login. This is required to use all the app
                features.
            </p>
            <mat-divider />
            <button
                matButton
                matStepperNext
                [disabled]="!form.get('accountDetails')?.valid || form.hasError('mustMatch')">
                Next
            </button>
        </div>
    </mat-step>
    <mat-step label="Are you part of the gang? 🚔">
        <app-input
            label="Verification Code"
            placeholder="Code"
            formControlName="verificationCode" />

        <mat-divider />
        <button
            matButton="filled"
            (click)="handleRegister()"
            [disabled]="!form.valid || forceDisableSubmit()">
            Register
        </button>
    </mat-step>
</mat-stepper>

<button matButton (click)="close()">close</button>
