@if (isSubmitting()) {
    <mat-progress-bar mode="indeterminate" class="bar"></mat-progress-bar>
}

<div class="wrapper">
    <div class="header">
        <h2>Login</h2>
    </div>

    @if (errorMessage()) {
        <div class="error-banner">
            <p>{{ errorMessage() }}</p>
            <button matButton="outlined" (click)="retryConnection()">Retry</button>
        </div>
    }

    @if (submitErrorMessage()) {
        <div class="error-banner">
            <p>{{ submitErrorMessage() }}</p>
        </div>
    }

    <form [formGroup]="form">
        <app-input
            label="Email"
            placeholder="Enter your email"
            formControlName="email"
            type="email" />
        <p class="description">
            Your email is needed so other players can contact you to organise matches.
        </p>

        @if (form.get('email')?.hasError('pattern') && form.get('email')?.touched) {
            <p class="error">Email must end in .com or .co.uk</p>
        }

        <mat-divider />

        <div class="centre-wrapper">
            @if (showScanner()) {
                <app-scanner (scanned)="onQrScanned($event)" #scanner class="scanner" />
            } @else {
                @if (!authCodeDisplay()) {
                    <button matButton="outlined" (click)="retryScan()" class="button-scanner">
                        Scan QR Code
                        <mat-icon>qr_code</mat-icon>
                    </button>
                    <p class="description">
                        The QR code can be found in the basement. Alternatively, an already
                        logged-in user can find it under 'Account' &gt; 'Show auth code'.
                    </p>
                } @else {
                    <pre>Code: {{ authCodeDisplay() }}</pre>
                }
                @if (qrErrorMessage()) {
                    <div class="error-banner">
                        <p>{{ qrErrorMessage() }}</p>
                    </div>
                }
            }
        </div>

        <mat-divider />

        <div class="right-wrapper">
            <button
                class="button-submit"
                matButton="filled"
                (click)="submitForm()"
                [disabled]="!form.valid || isSubmitting()">
                {{ isSubmitting() ? 'Submitting...' : 'Complete Login' }}
            </button>
        </div>
    </form>
</div>
