.nav-container {
    display: flex;
    justify-content: space-between;
    width: min(200rem, 90vmin);
    margin-inline: auto;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--mat-sys-surface-container-highest);
}
