@use 'theme' as *;

h2 {
    margin: 0.5rem;
    margin-left: 5vw;
    font-size: 1rem;
    opacity: 0.7;
}

.quick-actions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    width: 90%;
    margin-inline: auto;
}

.quick-action {
    padding: 2rem;
    background-color: var(--mat-sys-secondary-container);
    border-radius: $r-m;
    border: none;
}

mat-divider {
    margin-bottom: 1rem;
}

.pending-matches {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.description {
    width: 90%;
    margin-inline: auto;
    margin-bottom: 0.75rem;
}
