:host {
    --color: var(--mat-sys-on-surface);
}

mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--size);
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    color: var(--color);
}
