@use 'theme' as *;

.nav-container {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-inline: auto;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--mat-sys-surface-container-highest);
    border-radius: $r-l;

    button {
        background: none;
        border: none;
        padding: 1rem;
        color: var(--mat-sys-on-surface);
        transition: color 0.3s ease;

        &.active > app-icon {
            --color: var(--mat-sys-primary);
        }

        cursor: pointer;

        app-icon {
            --size: 2rem;
        }
    }
}
