@use 'theme' as *;

:host {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: var(--mat-sys-primary);
}

input {
    padding: 0.5rem;
    border: 2px solid var(--mat-sys-on-surface);
    border-radius: $r-s;
    font: var(--mat-sys-body-medium);
}
